$color-header: #081130;
$color-button: #FED84C;
$color-text: #FFFFFF;
$color-button-small: #F2F6FA;
$color-title:#2E363E;
$color-reviews: #4A94FF;
$color-footer-telephone:#7E868E;
$color-prace: #434B53;
$color-circle:#5D6AFB;
$color-reviews-city:#A6AEB6;



$content-width: 1180px;

$content-wrapper: 1180px;




