%font-montserrat-700 {
  font-family: 'Montserrat700', Verdana, sans-serif;
}

%font-montserrat-400 {
  font-family: 'Montserrat400', Verdana, sans-serif;
}

%font-montserrat-500 {
  font-family: 'Montserrat500', Verdana, sans-serif;
}