.button {
  padding: 25px 40px;
  border-radius: 8px;
  background-color: $color-button;
  @extend %font-montserrat-500;
  font-size: 1.8rem;
  line-height: 1.8rem;
  color: $color-title;

  cursor: pointer;
  border: none;
}

.button__desk {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: $color-button-small;
  border-radius: 5px;
  color: $color-title;
  @extend %font-montserrat-400;
  font-size: 1.8rem;
  line-height: 1.6rem;
}

