.gallery {
  padding: 30px 0px 0px 0px;
  @include media-notebook {
    padding: 30px 0px 30px 0px;
  }

  @include media-notebook-small {
    padding: 30px 0px 37px 0px;
  }
  @include media-tablet-big {
    padding: 30px 0px 40px 0px;
  }
  @include media-tablet {
    padding: 30px 0px 75px 0px;
  }
  @include media-mobale {
    padding: 30px 0px 89px 0px;
  }
  @include media-mobale-small {
    padding: 30px 0px 100px 0px;
  }
}

.gallery__subtitle {
  margin-bottom: 70px;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 6.0rem;
  text-align: center;
  @include media-tablet-big {
    font-size: 4.0rem;
  }
  @include media-mobale-small {
    text-align: left;
    font-size: 3.0rem;
    line-height: 4.0rem;
  }
  @include media-phone {
    padding: 0 10px;
  }
}

.gallery__itemns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
  @include media-desctop {
    padding-bottom: 10px;
  }
  @include media-notebook {
    padding: 0 60px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  @include media-tablet-big {
    padding: 0px 0px;
  }
  @include media-tablet-small {
    grid-template-columns: repeat(1, 1fr);
  }
  @include media-tablet {
    gap: 40px 40px;
  }
  @include media-mobale-big {
    justify-items:left;
  }
}

.gallery__itemn {
  width: 380px;
  display: flex;
  flex-direction: column;
  border: 1px solid $color-button-small;
  @include media-mobale-big {
    border: none;
  }
  @include media-phone {
    padding: 0 5px;
    width: 290px;
  }
}

.media-notebook {
  display: none;
}

.gallery__img {
  width: 380px;
  height: 245px;
  margin-bottom: 30px;
  border-radius: 10px 10px 0px 0px;
  @include media-tablet {
    width: 480px;
    height: 285px;
  }
  @include media-mobale-small {
    width: 380px;
    height: 245px;
  }
  @include media-phone {
    width: 350px;
  }
}

.gallery__title {
  @extend %font-montserrat-700;
  font-size: 2.4rem;
  line-height: 3.4rem;
  @include media-tablet {
    font-size: 3.4rem;
  }
}

.gallery__text {
  margin-bottom: 15px;
  @extend %font-montserrat-400;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: $color-title;
  @include media-tablet {
    width: 420px;
    font-size: 2.4rem;
  }
  @include media-phone {
    width: 350px;
  }
}

.gallery__prace {
  margin-bottom: 15px;
  @extend %font-montserrat-500;
  color: $color-prace;
  @include media-tablet {
    font-size: 2.4rem;
    color: $color-header;
  }
}

