.telephone {
  position: relative;
  background-color: $color-header;
  background-image: url('../../src/cvg/phone_top.png');
  background-repeat: no-repeat;
  @include media-tablet {
    padding: 0px 0px 75px 0px;
  }
  @include media-phone {
    background-image: none;
  }
}

.wrapper__telephone {
  padding-top: 320px;
  display: flex;
  flex-direction: row;
  gap: 0px 30px;
  @include media-tablet-small {
    padding: 300px 30px 30px 0px;
  }
  @include media-tablet-small {
    justify-content: center;
  }
  @include media-mobale-small {
    padding: 300px 0px 30px 0px;
  }
  @include media-phone {
    padding-top: 30px;
  }
}


.telephone__img {
  width: 950px;
  height: 834px;
  @include media-notebook {
    width: 750px;
    height: 634px;
  }
  @include media-notebook-small {
    width: 450px;
    height: 500px;
    margin-top: 25px;
  }
  @include media-tablet-small {
    display: none;
  }
}

.telephone__desc {
  width: 320px;
  padding-top: 100px;
  @include media-notebook-small {
    padding-top: 50px;
  }
  @include media-tablet-small {
    padding-top: 20px;
  }
}

.telephone__button__desk {
  width: 250px;
}

.button__text {
  color:$color-text;
}

.button__text_big {
  @extend %font-montserrat-500;
  font-size: 3.0rem;
}

.button__text_small {
  @extend %font-montserrat-400;
  font-size: 2.1rem;
}