.header {
  padding: 20px 0px 50px 0px;
  @include media-laptop-small {
    padding: 20px 20px 50px 20px;
  }
  @include media-mobale-small {
    padding: 20px 20px 0px 20px;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include media-mobale {
    flex-direction: column;
  }
}

.header__title {
  color: $color-text;
  font-size: 2.1rem;
  font-weight: 500;
  @extend %font-montserrat-500;
  @include media-tablet {
    font-size: 1.8rem;
  }
  @include media-mobale {
    font-size: 3.0rem;
    color: $color-button;
  }
}